
<h1 id="daylight-title">Daylight</h1>

<div id="daylight-app">
  <div class="row">
    <div class="box col-md-3 col-md-offset-1" onclick="daylight(1, this)">Morning</div>
    <div class="box col-md-3 col-md-offset-1" onclick="daylight(2, this)">Afternoon</div>
    <div class="box col-md-3 col-md-offset-1" onclick="daylight(3, this)">Evening</div>
    
    <div class="col-md-1"></div>
    <div class="box col-md-3 col-md-offset-1">Displayer</div>
    
  </div>
</div>
